{% extends 'base.html' %}
{% load static %}

{% block title %}
    NBA | GameDay Stats
{% endblock %}

{% block body %}
<div class="container py-5" style="margin-top: 20px;">
    <h1 class="mb-4 text-center">NBA🏀 - 25/26</h1>

    <div class="mb-4 text-center">
        <form>
            {% csrf_token %}
            {{league_form.as_p}}
        </form>
    </div>

    <ul class="nav nav-pills justify-content-center" id="select_content">
        <li class="nav-item">
            <a class="nav-link active" data-section="matches" href="#">Matches</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-section="standings" href="#">Standings</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-section="teams" href="#">Teams</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-section="top_scorers" href="#">Top Scorers</a>
        </li>
    </ul>

    <div id="matches-section" class="section">
        <div class="mb-4 text-left">
            <form id="matchday_form">
                {% csrf_token %}
                {{matchday_form.matchdays}}
            </form>
        </div>

        <div id="navigate_buttons">
            <div class="btn-group" role="group" aria-label="Default button group">
                <button type="button" class="btn btn-outline-dark" id="back_button">&lt;</button>
                <button type="button" class="btn btn-outline-dark" id="forward_button">&gt;</button>
            </div>
        </div>

        <div id="matches"></div>
    </div>

    <div id="standings-section" class="section">
        <table class="table table-bordered" id="standingsTable">
            <thead>
                <tr>
                    <th>Position</th>
                    <th>Name</th>
                    <th>Played</th>
                    <th>W</th>
                    <th>D</th>
                    <th>L</th>
                    <th>Pts</th>
                    <th>GF</th>
                    <th>GA</th>
                    <th>GD</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>

    <div id="teams-section" class="section">
        <div id="teams">
            <div id="teams_rows" class="row row-cols-1 row-cols-md-2 g-4"></div>
        </div>
    </div>

    <div id="scorers-section" class="section">
        
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'js/main.js' %}"></script>
{% endblock %}