{% extends 'base.html' %}
{% load static %}
{% block body %}
<div class="container py-5" style="margin-top: 20px;">
    <h1 class="mb-4 text-center">Football Fixtures</h1>

    <div class="mb-4 text-center">
        <select class="form-select w-50 mx-auto">
            <option selected>Choose League</option>
            <option value="premier-league">Premier League</option>
            <option value="la-liga">La Liga</option>
            <option value="serie-a">Serie A</option>
            <option value="bundesliga">Bundesliga</option>
            <option value="ligue-1">Ligue 1</option>
        </select>
    </div>

    <ul class="nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Active</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled">Disabled</a>
        </li>
    </ul>
</div>
{% endblock %}