{% extends 'base.html' %}
{% load static %}
{% block body %}
<div class="container py-5" style="margin-top: 20px;">
    <h1 class="mb-4 text-center">Football⚽</h1>

    <div class="mb-4 text-center">
        <form>
            {% csrf_token %}
            {{form.as_p}}
        </form>
    </div>

    <ul class="nav justify-content-center">
        <li class="nav-item nav-pills nav-fill">
            <a class="nav-link active" aria-current="page" href="#">Matches</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Table</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Teams</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled">Players</a>
        </li>
    </ul>

    <div id="info"></div>
</div>
{% endblock %}